<!DOCTYPE HTML>
<html
    lang="en"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:th="http://www.thymeleaf.org"
    layout:decorate="~{layout/master}"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Daftar Indikator</title>
</head>
<th:block layout:fragment="content">
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Daftar Indikator
                            <a sec:authorize="hasRole('CRUD_INDIKATOR')"
                                    th:href="@{/indikator/add}" type="button" class="btn btn-primary">
                                <i class="fa fa-plus"></i> Tambah</a>
                        </h4>
<!--                        <h6 class="card-subtitle">Using the most basic table markup, here’s how <code>.table</code>-based tables look in Bootstrap. All table styles are inherited in Bootstrap 4, meaning any nested tables will be styled in the same manner as the parent.</h6>-->
<!--                        <h6 class="card-title m-t-40"><i class="m-r-5 font-18 mdi mdi-numeric-1-box-multiple-outline"></i> Table With Outside Padding</h6>-->
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Kode Indikator</th>
                                    <th scope="col">Uraian</th>
                                    <th scope="col">Level</th>
                                    <th scope="col">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="idk : ${indikatorList}">
                                    <th scope="row" th:text="${idk.getId()}"></th>
                                    <td th:text="${idk.getKode()}"></td>
                                    <td th:text="${idk.getUraian()}"></td>
                                    <td th:text="${idk.getLevel()}"></td>
                                    <td>
                                        <a th:href="@{'/indikator/'+${idk.getId()}}"><i class="fas fa-eye text-success"></i> </a>
                                        <a th:href="@{'/indikator/edit/'+${idk.getId()}}"><i class="fas fa-pencil-alt text-primary"></i> </a>
                                        <a th:href="@{'/indikator/delete/'+${idk.getId()}}"><i class="fas fa-trash text-danger"></i> </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>