<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/assets/images/favicon.png}">
    <title>SIKU</title>
    <link th:href="@{/dist/css/style.min.css}" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div id="main-wrapper">

        <th:block th:replace="layout/top-menu"/>
        <th:block th:replace="layout/left-menu"/>
        <div class="page-wrapper">
            <th:block layout:fragment="content"/>
        </div>

    </div>
    <script th:src="@{/assets/libs/jquery/dist/jquery.min.js}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script th:src="@{/assets/libs/popper.js/dist/umd/popper.min.js}"></script>
    <script th:src="@{/assets/libs/bootstrap/dist/js/bootstrap.min.js}"></script>
    <!-- apps -->
    <script th:src="@{/dist/js/app.min.js}"></script>
    <script th:src="@{/dist/js/app.init.iconbar.js}"></script>
    <script th:src="@{/dist/js/app-style-switcher.js}"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script th:src="@{/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js}"></script>
    <script th:src="@{/assets/extra-libs/sparkline/sparkline.js}"></script>
    <!--Wave Effects -->
    <script th:src="@{/dist/js/waves.js}"></script>
    <!--Menu sidebar -->
    <script th:src="@{/dist/js/sidebarmenu.js}"></script>
    <!--Custom JavaScript -->
    <script th:src="@{/dist/js/custom.min.js}"></script>

</body>
</html>