<!DOCTYPE HTML>
<html
    lang="en"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:th="http://www.thymeleaf.org"
    layout:decorate="~{layout/master}"
    >
<head>
    <title>Daftar Indikator</title>
</head>
<th:block layout:fragment="content">
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Halaman Home</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>